<div class="navbar">
  <%= link_to  new_offer_path do%>
  <div class="navbar-btn" >
    <span class="iconify" data-icon="fa-solid:car-alt"></span>
    <label>New Offer</label>
  </div>
  <% end %>
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:heart">favorites</span>
    <label>favorites</label>
  </div>
  <%= link_to offers_path do%>
  <div class="navbar-btn">
    <span class="iconify" data-icon="emojione-monotone:racing-car">cars</span>
    <label>cars</label>
  </div>
  <% end %>
  <%= link_to map_path do %>
  <div class="navbar-btn">
    <span class="iconify" data-icon="akar-icons:map"></span>
    <label>map</label>
  </div>
  <%end%>
  <%= link_to dashboard_path do%>
  <div class="navbar-btn">
    <% if @orders %>
      <% pending = @orders.select {|order| order.status == true} %>
      <% if pending.count == 0 %>
      <% else %>
        <div class="notif">
          <span id="pending" style="color:white;"><%= pending.count%></span>
        </div>
      <% end %>
    <% end %>
    <% if @offers %>
    <% @offers.each do |offer| %>
    <% if @demands_reservation %>
      <% requests = @demands.select {|demand| demand.offer_id == offer.id } %>
      <% if requests.count == 0 %>
      <% else %>
        <div class="notif">
          <span id="reserv"><%= requests.count%></span>
        </div>
      <% end %>
    <% end %>
    <% end %>
    <% end %>
    <span class="iconify" data-icon="clarity:dashboard-solid"></span>
    <label>dashboard</label>
  </div>
  <% end %>
</div>
