<h1>Dashboard of <%= @user.email %></h1>
<h2>Your offers</h2>
<% @offers.each do |offer| %>
  <h3> <%= offer.title %> </h3>
<% end %>
<h2>Demands</h2>
<% @demands_reservation.each do |demand| %>
  <%= demand.offer.title %>
  <%= demand.user.email %>
  <%= demand.date_start %>
  <%= demand.date_end %>

  <%= link_to "Ok",
              offer_order_path(demand.offer, demand),
              method: :patch
  %>
  <%= link_to "No",
              offer_order_path(demand.offer, demand),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
<h2>My Demands</h2>
<%= @orders.each do |my_order| %>
  <%= my_order.offer.title %>
  <%= my_order.date_start %>
  <%= my_order.date_end %>
<% end %>