<div class="dashboard-view">
 <div class="dashboard-top">
  <span class="iconify" data-icon="clarity:dashboard-solid"></span>
  <h1>Welcome to your dashboard, <%= @user.name %></h1>
 </div>
 <div class="my-offers">
  <h1>My offers</h1>
  <% @offers.each do |offer| %>
  <ul>
    <li> <%= offer.title %> </li>
  </ul>
  <% end %>
 </div>
 <div class="my-requests">
  <h1>My requests</h1>
  <% @demands_reservation.each do |demand| %>
  <p>
  - <%= demand.offer.title %>
  Pour <%= demand.user.name %>,
  <%= demand.user.email %>,
  Du <%= demand.date_start %>
  Au <%= demand.date_end %> .
  <%= link_to "OK",
  offer_order_path(demand.offer, demand),
  method: :patch
  %>
  <p>
  <%= link_to "NO",
  offer_order_path(demand.offer, demand),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
  <% end %>
  </p>
</div>*
<%= render "shared/navbar" %>
