<% require 'date' %>
<div class="index">
  <div class="top-section">
    <div class="search-bar-top">
    <h1>Welcome on RentRocket 🚀</h1>
    </div>
    <span id="search-loop" class="iconify" data-icon="bi:search"></span>
    <%= form_tag offers_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control toto-search",
        placeholder: "Find a car"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% @offers.each do |offer| %>
  <%= link_to offer_path(offer) do%>
  <div class="offer-card">
    <div class="img" style="background-image: url(<%= offer.image.attached? ? cl_image_path(offer.image.key) : asset_path("ferrari.jpg") %>)">
      <span id="favorite" class="iconify" data-icon="bi:heart"></span>
    </div>
    <div class="infos">
      <div class="description">
        <h1 class="model-name"><%= offer.title %></h1>
          <% date = Time.now.day %>
          <% offer_date = offer.created_at %>
          <% if offer_date.to_i == date.to_i %>
            <h2 class="new">New *</h2>
          <% else %>
            <h2 class="new"></h2>
          <% end %>
      </div>
        <h3 class="owner"><%= offer.user.name %>, Lyon - <%= offer.km_age %>km<br>
        <span id="price"><%= offer.price %>€</span> / day</h3>
    </div>
  </div>
  <% end %>
  <% end %>
  <div class="map-offer-button">
    <a href="#">Map</a>
    <span class="iconify" data-icon="akar-icons:map"></span>
  </div>
  <%= render "shared/navbar" %>
</div>
